<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/lib/bootstrap.css">
  <link rel="stylesheet" href="/lib/font-awesome.css">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div id="app">
    <div id="main">
      <div class="container mt-2">
        <section v-if="page === 1">
          <article>
            <div class="card">
              <div class="card-header">Debug</div>
              <div class="card-body">
                <pre>{{ cooker }}</pre>
              </div>
            </div>
          </article>
        </section>
        <section v-if="page === 2">
          <article>
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <span>{{ cooker.name }}</span>
                <span class="text-muted">Last Updated: {{ cooker?.lastUpdated | time }}</span>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="text-center">
                    <h2 class="font-weight-bold">
                      <i class="fa text-danger" :class="temperatureIcon"></i>
                      <span>{{ cooker.temperature }}°</span>
                      <span class="font-size-smaller" v-if="cooker.settings.temperature">/
                        {{ cooker.settings.temperature }}°</span>
                    </h2>
                  </div>
                  <div class="text-center">
                    <h2>
                      <i class="fa fa-fire" :class="heatingClass"></i>
                      <span class="font-weight-bold">{{ cooker.heating | heatingLabel }}</span>
                    </h2>
                  </div>
                </div>
                <hr>
                <div class="text-center">
                  <h4 v-if="cooker.state !== 'OFF'">
                    Cook for {{ cooker.settings.duration }}s @ {{ cooker.settings.temperature }}°
                  </h4>
                  <h1>
                    <span class="font-weight-bold" :class="stateClass">{{ cooker.state }}</span>
                  </h1>
                  <p class="text-muted">{{ stateTimeAgo }}</p>

                </div>
                <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <label for="">Temperature</label>
                      <input type="text" class="form-control" v-model="inputTemperature">
                    </div>
                    <div class="col-6">
                      <label for="">Duration (seconds)</label>
                      <input type="text" class="form-control" v-model="inputDuration">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer p-0">
                <div class="footer-buttons d-flex justify-content-even">
                  <button class="btn btn-success" @click="turnOn()">On</button>
                  <button class="btn btn-danger" @click="turnOff()">Off</button>
                  <!-- <button class="btn" @click="pause()">Pause</button> -->
                  <!-- <button class="btn" @click="resume()">Resume</button> -->
                  <button class="btn btn-info" @click="startCooking()">Start Cooking</button>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
    <div id="navbar">
      <ul class="list-group">
        <li class="list-group-item" @click="page = 2" :class="{ active: page === 2 }">
          <span>Sous Vide</span>
        </li>
        <li class="list-group-item" @click="page = 1" v-bind:class="{ active: page === 1 }">
          <span>Debug</span>
        </li>
      </ul>
    </div>
  </div>

  <script src="/lib/socket.io.js"></script>
  <script src="/lib/vue.js"></script>
  <script src="/filters.js"></script>
  <script src="/index.js"></script>
</body>

</html>
