<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <span>Pool</span>
            </li>
        </ol>
    </nav>
</div>
<div class="row pi-overscroll">
    <div class="col-12 col-lg-4">
        <nb-card [nbSpinner]="tempLoading" nbSpinnerStatus="primary">
            <nb-card-body>
                <h3>Pool Temperature</h3>
                <p>The current pool temperature is {{ poolTemp }}°F</p>
                <div class="mt-2 text-right">
                    <button nbButton (click)="refresh()" status="primary">
                        <span class="fa fa-sync-alt mr-2"></span>
                        <span>Refresh</span>
                    </button>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
    <div class="col-12 col-lg-8">
        <nb-card [nbSpinner]="historyLoading" nbSpinnerStatus="primary">
            <nb-card-body>
                <h3>Pool History</h3>
                <div class="mt-2 text-right">
                    <button nbButton (click)="refresh()" status="primary">
                        <span class="fa fa-sync-alt mr-2"></span>
                        <span>Refresh</span>
                    </button>
                </div>

                <hr>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="container">
    <div echarts [options]="options" theme="dark" class="demo-chart"></div>
</div>
