<div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a routerLink="/">Home</a>
			</li>
			<li class="breadcrumb-item active">
				<span>Pool</span>
			</li>
		</ol>
	</nav>
</div>
<h1>Pool</h1>
<hr>
<div class="row pi-overscroll">
	<div class="col-12 col-lg-8">
		<nb-card [nbSpinner]="historyLoading" nbSpinnerStatus="primary">
			<nb-card-body>
				<div class="d-flex justify-content-between">
					<h3>History</h3>
					<div>
						<span
							[hidden]="historyLoading"
							class="fa fa-2x fa-sync-alt mr-2 cursor-pointer"
							(click)="refreshHistory()"></span>
					</div>
				</div>
				<hr>
				<div echarts [options]="options" [merge]="updateOptions" theme="dark" class="demo-chart"></div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-12 col-lg-4">
		<nb-card [nbSpinner]="tempLoading" nbSpinnerStatus="primary">
			<nb-card-body>
				<div class="d-flex justify-content-between">
					<h1>
						<div>
							<span>{{ poolTemp }}</span>
							<span>°F</span>
							<span class="fas ml-2 fa-thermometer-three-quarters text-danger"></span>
						</div>
					</h1>
					<span
						[hidden]="tempLoading"
						class="fa fa-2x fa-sync-alt mr-2 cursor-pointer"
						(click)="refreshTemp()"></span>
				</div>

				<hr>
				<p class="text-muted">Last updated: {{ lastUpdated | date:'mediumTime' }}</p>
			</nb-card-body>
		</nb-card>
	</div>
</div>
