@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";

@import "~bootstrap/scss/bootstrap.scss";

@import "./layout";
@import "./modal";
@import "./overrides";
@import "./animations";
@import "./utilities";

// install the framework and custom global styles
@include nb-install() {
	// framework global styles
	@include nb-theme-global();

	@include ngx-layout();

	@include nb-overrides();
	@include bootstrap-overrides();
}

.tlp-select {
	width: 150px;
}

nb-badge.tlp-badge {
	position: unset;
	display: inline-block;
}

nb-list-item:focus {
	outline: none;
}

.tlp-offer-image {
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	border-radius: 1rem;
}

.pi-overscroll {
	margin-bottom: 10rem;
}

tlp-toggle-readonly nb-toggle .toggle {
	cursor: default !important;
}

.line-height-reset {
	line-height: 1rem;
}

.demo-chart {
	width: 100%;
	height: 500px;
}
